@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    background: rgb(253, 253, 253);
    font-family: 'Itim', cursive;
}

.btn{
    background: rgb(3, 156, 80);
    color: cornsilk;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: solid 1px rgb(3, 156, 80);
}
    .btn:hover{
        background: rgb(3, 136, 70);
    }